.vs/
obj/
.vs/scaling-meme/DesignTimeBuild/.dtbcache.v2
.vs/scaling-meme/v16/.suo
obj/Debug/netcoreapp3.1/scaling-meme.assets.cache
obj/Debug/netcoreapp3.1/scaling-meme.csproj.AssemblyReference.cache
obj/Debug/netcoreapp3.1/scaling-meme.GeneratedMSBuildEditorConfig.editorconfig
obj/project.assets.json
obj/project.nuget.cache
obj/scaling-meme.csproj.nuget.dgspec.json
obj/scaling-meme.csproj.nuget.g.props
.vs/scaling-meme/DesignTimeBuild/.dtbcache.v2
.vs/scaling-meme/v16/.suo
obj/Debug/netcoreapp3.1/scaling-meme.assets.cache
obj/Debug/netcoreapp3.1/scaling-meme.csproj.AssemblyReference.cache
obj/Debug/netcoreapp3.1/scaling-meme.GeneratedMSBuildEditorConfig.editorconfig
obj/project.assets.json
obj/project.nuget.cache
obj/scaling-meme.csproj.nuget.dgspec.json
obj/scaling-meme.csproj.nuget.g.props
.vs/scaling-meme/v16/.suo
obj/Debug/netcoreapp3.1/scaling-meme.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/netcoreapp3.1/scaling-meme.assets.cache
.vs/scaling-meme/v16/.suo
bin/Debug/netcoreapp3.1/scaling-meme.deps.json
bin/Debug/netcoreapp3.1/scaling-meme.dll
bin/Debug/netcoreapp3.1/scaling-meme.exe
bin/Debug/netcoreapp3.1/scaling-meme.pdb
bin/Debug/netcoreapp3.1/scaling-meme.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/scaling-meme.runtimeconfig.json
obj/Debug/netcoreapp3.1/scaling-meme.assets.cache
obj/Debug/netcoreapp3.1/scaling-meme.csproj.AssemblyReference.cache
obj/Debug/netcoreapp3.1/scaling-meme.GeneratedMSBuildEditorConfig.editorconfig
obj/project.assets.json
obj/project.nuget.cache
obj/scaling-meme.csproj.nuget.dgspec.json
obj/scaling-meme.csproj.nuget.g.props
.vs/scaling-meme/v16/.suo
obj/Debug/netcoreapp3.1/scaling-meme.assets.cache
obj/Debug/netcoreapp3.1/scaling-meme.csproj.AssemblyReference.cache
obj/Debug/netcoreapp3.1/scaling-meme.GeneratedMSBuildEditorConfig.editorconfig
obj/project.assets.json
obj/project.nuget.cache
obj/scaling-meme.csproj.nuget.dgspec.json
obj/scaling-meme.csproj.nuget.g.props
